@media only screen and (max-width: 1200px) {
    .product_nav_links a{
        font-size: 15px;
    }
}

@media only screen and (max-width: 1100px) {
    .product_category_continer{
        background-size: cover;
        background-position: left;
    }
}

@media only screen and (max-width: 1000px) {
    .product_nav{
        display: none;
    }
    .product_category_continer{
        margin: 80px 0 0 0;
    }

    .product_category_detail{
        padding: 0 30px;
    }


    .product_category_byline{
        font-size: 20px;
    }
    
    .product_category_heading{
        font-size: 5vw;
    }
    
    .product_category_para{
        font-size: 20px;
    }    

    .product_varients{
        padding: 70px 0 0 0;
    }
    .product_varients_section_heading{
        font-size: 35px;
    }

    .variant_box_heading{
        font-size: 25px;
    }

    .variant_box_para{
        font-size: 15px;
    }
    .varient_box_list ul{
        font-size: 15px;
    }
    .varient_box_list li span{
        font-size: 15px;
    }
    .variant_box_para span{
        font-size: 18px;
        color: #FE4646;
    }

    .Investigation_varient_box_image img{
        width: 100%;
    }



    .form_container{
        margin: 80px 0 20px 0;
    }
    .form_group label{
        font-size: 15px;
    }
    .form_group input{
        font-size: 15px;
    }
    .form_checkbox span{
        font-size: 15px;
        margin: 0 0 0 10px;
    }
    .form_checkbox span a{
        font-size: 15px;
    }
    
    .form_button button{
        font-size: 15px;
    }





    .atr_content_container{
        margin: 80px 0 0 0;
        background-position: left bottom;
    }
    .atr_content_wrapper{
        padding: 0px 30px;
    }


    .research_dev_content_container{
        margin: 80px 0 0 0;
        background-position: left bottom;
    }
    .research_data_container{
        padding: 0px 30px;
    }
}

@media only screen and (max-width: 600px) {
    .download_content_container{
        flex-direction: column;
    }

    .download_text{
        font-size: 20px;
        line-height: normal;
        text-align: center;
    }
    
    .download_content_container a{
        padding: 10px 0;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 500px) {

    .product_category_detail{
        text-align: center;
    }
    .product_category_image{
        display: none;
    }
    .product_category_byline{
        font-size: 12px;
    }
    .product_category_heading{
        font-size: 25px;
    }
    
    .product_category_para{
        font-size: 15px;
    }   

    
    .varient_box{
        flex-direction: column-reverse;
    }
    
    .varient_box_detail{
        width: 100%;
        padding: 0;
    }

        
    .variant_box_heading{
        text-align: center;    
        padding: 20px 0 0 0;
    }

    .varient_box_image{
        width: 60%;
    }

    
    .variant_box_box button{
        font-size: 15px;
    }
    .varient_box_list li{
        text-align: left !important;
    }

    .Investigation_varient_box_image{
        width: 50%;
        
    
    }


    .form_group{
       flex-direction: column;
    }
    .inner_form_group{
        width: 100%;
    }

    #first_name{
        margin: 0 0 30px 0;
    }
    #contact_number{
        margin: 0 0 30px 0;
    }
    #city{
        margin: 0 0 30px 0;
    }




    .art_heading{
        text-align: center;
        font-size: 25px;
    }
    .art_para{
        line-height: normal;
        font-size: 16px;
    }

    
    .research_heading{
        text-align: center;
        font-size: 25px;
    }
    .research_para{
        line-height: normal;
        font-size: 16px;
    }



    .registration_complete p{
        margin: 20px 0;
        font-size: 20px;
    }
    .registration_complete img{
        width: 80%;
    }

}